/* Start Global Rules */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap");
:root {
  --main-color: #fc575c;
  --gradient-color: linear-gradient(90deg, #b755c1 0%, #fc575c 100%);
  --second-gradient-color: linear-gradient(90deg, #8390fa 0%, #1d2f6f 100%);
  --third-gradient-color: linear-gradient(
    90deg,
    rgb(255, 61, 99) 0%,
    rgb(248, 139, 75) 100%
  );
  --forth-gradient-color: linear-gradient(
    90deg,
    #b027c0 40%,
    rgb(0, 242, 255) 100%
  );
  --first-color: #f88b4b;
  --second-color: #1d2f6f;
  --third-color: #b027c0;
  --forth-color: rgb(0, 242, 255);
  --section-title-color: white;
  --background-color: black;
  --section-color: #111;
  --text-color: #787d82;
  --setion-padding: 50px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Julius Sans One", sans-serif;
}
.container {
  padding: 10px 20px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  margin: auto;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 560px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1340px;
  }
}
/* End Global Rules */
/* Start Loading */
.loading {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loading.loaded {
  display: none;
}
.loading img {
  position: absolute;
  width: 100px;
  height: 100px;
  animation: loading 2s infinite ease;
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* End Loading */
/* Start header */
header {
  position: fixed;
  transition: top 0.3s, height 0.5s, background-color 0.5s, box-shadow 0.3s;
  width: 100%;
  top: 0;
  z-index: 100;
  overflow: hidden;
}
header.fixed {
  top: -95px;
}
header.scrolled {
  background-color: var(--background-color);
  box-shadow: 0 0px 5px 0 var(--main-color);
  top: 0px;
}
header.active-menu {
  height: 230px;
  background-color: var(--background-color);
  box-shadow: 0 0px 5px 0 var(--main-color);
}
header .container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
header .logo a {
  font-family: "Lugrasimo", cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  color: var(--section-title-color);
  font-size: 28px;
  font-weight: 900;
}
header nav a {
  color: var(--section-title-color);
  font-size: 16px;
  padding: 10px 15px;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
header nav a:hover {
  color: var(--main-color);
}
header nav a::before {
  content: "";
  background-color: var(--main-color);
  height: 2px;
  width: 0%;
  position: absolute;
  left: 50%;
  bottom: -0px;
  transition-duration: 0.3s;
}
header nav a::after {
  content: "";
  background-color: var(--main-color);
  height: 2px;
  width: 0%;
  position: absolute;
  right: 50%;
  bottom: -0px;
  transition-duration: 0.3s;
}
header nav a:hover::before,
header nav a:hover::after {
  width: 50%;
}
header .nav-icon {
  display: none;
  width: 25px;
  height: 15px;
  /* background-color: red; */
  position: relative;
}
header .nav-icon span {
  background-color: var(--section-title-color);
  width: 100%;
  height: 3px;
  position: absolute;
  border-radius: 10px;
  transition: transform 0.5s, opacity 0.1s;
  opacity: 1;
}
header .nav-icon span:nth-child(2) {
  top: 50%;
}
header .nav-icon span:nth-child(3) {
  top: 100%;
}
header .nav-icon.active span:nth-child(1) {
  transform: rotate(45deg) translateY(350%);
}
header .nav-icon.active span:nth-child(2) {
  opacity: 0;
}
header .nav-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-350%);
}
header .nav-menu {
  display: none;
  position: absolute;
  top: 80px;
}
header .nav-menu a {
  color: var(--section-title-color);
  display: block;
  margin-bottom: 15px;
  transition-duration: 0.3s;
}
header .nav-menu a:hover {
  color: var(--main-color);
}
@media (max-width: 767px) {
  header {
    height: 70px;
  }
  header .nav-menu,
  header .nav-icon {
    display: block;
  }
  header nav {
    display: none;
  }
  header .logo img {
    width: 30px;
    height: 30px;
  }
  header .logo a {
    font-size: 1rem;
  }
  header nav a {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  header .container {
    padding: 20px;
  }
}
@media (max-width: 300px) {
  header nav {
    display: none;
  }
}
/* End header */
/* Start landing */
#home .content {
  width: clamp(300px, 50%, 800px);
}
#home .container {
  padding: 250px 0 150px;
  position: relative;
  margin: 0 auto;
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#home .container::before {
  content: "";
  width: 0.01px;
  height: 250px;
  background-color: var(--main-color);
  box-shadow: 0 0 250px 150px var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 85%;
  opacity: 0.3;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#home h1 {
  color: var(--section-title-color);
  font-size: 50px;
  text-transform: capitalize;
}
#home .content span {
  background-image: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#home p {
  color: var(--text-color);
  width: clamp(300px, 75%, 600px);
  line-height: 1.8;
}
#home .section-img {
  width: 400px;
}
#home .section-img img {
  width: 100%;
  height: 100%;
}
#home .btn {
  width: fit-content;
  margin: 30px 0;
}
#home .btn a {
  color: white;
  background-image: linear-gradient(90deg, #74247d 0%, #fc575c 100%);
  background-size: 150% 150%;
  padding: 10px 30px;
  font-weight: 600;
  margin-bottom: -50px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  animation: gradient 2s ease infinite;
}
#home .links {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}
#home .links a {
  background-color: var(--background-color);
  border: 1px solid var(--main-color);
  box-shadow: 0 0 10px 0 var(--main-color);
  border-radius: 20px;
}
#home .links img {
  height: 75px;
}
@media (min-width: 1400px) {
  #home .container {
    height: auto;
  }
}
@media (max-width: 577px) {
  #home .content {
    width: 100%;
    padding: 0 20px;
  }
  #home h1 {
    font-size: 20px;
  }
  #home p {
    width: fit-content;
  }
  #home .links img {
    height: 60px;
  }
}
@media (max-width: 991px) {
  #home {
    margin: 150px 0 0;
  }
  #home .container {
    flex-direction: column;
    padding: var(--setion-padding) 0;
  }
  #home .container::before {
    top: 50%;
    left: 50%;
  }
  #home .content {
    margin: auto;
  }
  #home h1 {
    margin: auto;
    text-align: center;
    font-size: 30px;
  }
  #home p {
    text-align: center;
    margin: 20px auto;
    font-size: 16px;
  }
  #home .btn {
    margin: 30px auto;
  }
  #home .links {
    flex-direction: column;
  }
  .section-img {
    max-width: 90%;
    margin: 50px 0;
  }
  .section-img {
    height: 200px;
  }
}
.section-img {
  max-height: 400px;
  width: fit-content;
}
/* End landing */
/* Start Features */
.services {
  padding: var(--setion-padding) 0;
}
.services h2 {
  color: var(--section-title-color);
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}
.services span {
  background-image: var(--third-gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.services .box {
  margin: 30px;
  line-height: 2;
  text-align: center;
}
.services .box div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
}
.services .box i {
  color: var(--first-color);
}
.services .box h3 {
  color: var(--section-title-color);
  display: inline-block;
}
@media (max-width: 991px) {
  .services .content {
    grid-template-columns: 1fr 1fr;
  }
  .services .box p {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .services h2 {
    font-size: 30px;
  }
  .services .content {
    grid-template-columns: 1fr;
  }
  .services .box {
    flex-basis: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services .box h3 {
    margin: 30px 0;
    text-align: center;
  }
}
/* End Features */
/* Start feature section */
.feature {
  padding: var(--setion-padding) 0 100px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.feature::before {
  content: "";
  width: 0.01px;
  height: 300px;
  background-color: var(--second-color);
  box-shadow: 0 0 250px 150px var(--second-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0%;
  opacity: 0.3;
  z-index: -1;
}
.feature .content {
  padding: 0 40px;
}
.feature img {
  max-width: 500px;
  height: 100%;
}
.feature h2 {
  color: var(--section-title-color);
  margin-bottom: 50px;
  font-size: 50px;
}
.feature h2 span {
  background-image: var(--second-gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature p {
  line-height: 2;
  font-size: 20px;
}
.feature .btn {
  margin-top: 40px;
}
.feature .btn a {
  color: var(--second-color);
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: bolder;
  border: 3px solid var(--second-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.feature .btn a:hover {
  color: white;
  background-image: var(--second-gradient-color);
}
@media (max-width: 991px) {
  .feature {
    flex-direction: column;
  }
  .feature::before {
    left: -20%;
  }
  .feature h2 {
    font-size: 30px;
    text-align: center;
  }
  .feature p {
    font-size: 16px;
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .feature .btn {
    text-align: center;
  }
  .feature img {
    margin-top: 50px;
    order: 2;
  }
  .feature .btn a {
    font-size: 1rem;
  }
}
/*  End feature section */
/*  Start founders section */
.founders {
  padding: var(--setion-padding) 0;
  position: relative;
}
.founders h2 {
  color: var(--section-title-color);
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
  position: relative;
  z-index: 3;
}
.founders h2 + p {
  text-align: center;
  margin: auto;
  width: fit-content;
  position: relative;
  z-index: 3;
}
.founders h2 span {
  background-image: linear-gradient(90deg, #fc575c 0%, #00f2ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.founders .container {
  overflow: hidden;
}
.founders .container::after,
.founders .container::before {
  content: "";
  height: 100%;
  position: absolute;
  width: 45%;
  z-index: 2;
  bottom: 0;
}
.founders .container::before {
  background: linear-gradient(
    to right,
    var(--background-color) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  left: 0;
}
.founders .container::after {
  background: linear-gradient(
    to left,
    var(--background-color) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  right: 0;
}
.founders .container .slider-track:hover {
  animation-play-state: paused;
}
.founders .container .slider-track {
  overflow: hidden;
  position: relative;
  height: 500px;
  width: calc(300px * 10);
  animation: scroll 40s linear infinite;
}
.founders .container .slider {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  will-change: transform;
  padding: var(--setion-padding);
}
.founders .container .card {
  width: 300px;
  height: 400px;
  position: relative;
  flex: 1;
  margin: 0 15px;
  transition: transform 0.5s ease-in-out;
}
.founders .container .card:hover {
  transform: scale(1.05);
}
.founders .container .card:hover::before {
  height: 100%;
  opacity: 0.5;
  box-shadow: none;
}
.founders .container .card::before {
  transition-duration: 0.5s;
  content: "";
  width: 100%;
  height: 10px;
  background-color: var(--background-color);
  position: absolute;
  bottom: 0;
  box-shadow: 0 0 50px 50px var(--background-color);
}
.founders .container .card .image {
  width: 300px;
  height: 400px;
}
.founders .container .card img {
  width: 98%;
  height: 95%;
  position: relative;
  left: 1%;
  top: 2.5%;
  z-index: -1;
  border-radius: 20px;
  -webkit-border-radius: 20px;
}
.founders .container .card h3 {
  color: var(--section-title-color);
  position: absolute;
  bottom: 10px;
  left: 15px;
  z-index: 1;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 5));
  }
}
@media (max-width: 767.98px) {
  .founders h2 {
    font-size: 30px;
  }
  .founders .container .card .image {
    width: 250px;
    aspect-ratio: 4/3;
  }
  .founders .container .card h3 {
    font-size: 1rem;
    bottom: 20px;
  }
}
/*  End founders section */
/* Start CTA Section */
.cta {
  background: linear-gradient(
    90deg,
    var(--second-color),
    var(--third-color),
    var(--first-color),
    var(--main-color)
  );
  background-size: 300% 300%;
  animation: gradient 5s linear infinite;
  padding: var(--setion-padding) 0;
}
.cta .container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
}
.cta h2 {
  font-size: 2rem;
}
.cta p {
  font-size: 1.3rem;
  font-weight: normal;
  margin: 10px 0 15px;
  opacity: 0.7;
}
.cta a {
  background-color: var(--background-color);
  color: white;
  padding: 10px 30px;
  font-weight: 600;
  transition-duration: 0.3s;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.cta a:hover {
  background-color: white;
  color: var(--background-color);
}
@media (max-width: 767px) {
  .cta .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .cta h2 {
    font-size: 1.2rem;
  }
  .cta a,
  .cta p {
    font-size: 0.8rem;
  }
}
/* End CTA Section */
/* Start Contact Section */
#contact {
  margin: 100px 0 var(--setion-padding);
}
#contact h2 {
  color: var(--section-title-color);
  margin-bottom: var(--setion-padding);
  font-size: 50px;
  text-align: center;
  background-image: var(--forth-gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#contact h3 {
  color: var(--section-title-color);
  text-align: center;
  margin-bottom: 15px;
}
#contact h3 + p {
  text-align: center;
}
#contact > div {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contact > div div {
  flex: 1;
  text-align: center;
}
#contact > div div i {
  color: var(--third-color);
  font-size: 2em;
}
#contact > div div h4 {
  margin: 15px 0;
}
#contact form {
  background-image: url("../images/world-map.svg");
  background-size: cover;
  background-position: center center;
  margin-top: 60px;
  position: relative;
  z-index: 1;
}
#contact form .email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#contact form input,
#contact form textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 2px solid var(--text-color);
  color: var(--section-title-color);
  caret-color: var(--third-color);
  transition: 0.3s;
  border-radius: 5px;
}
#contact form input:focus,
#contact form textarea:focus {
  outline: none;
  border-color: var(--third-color);
}
#contact form textarea {
  min-height: 200px;
  resize: none;
}
#contact form .btn {
  display: block;
  margin: auto;
  padding: 15px 40px;
  background-color: var(--third-color);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#contact form .btn:hover {
  opacity: 0.8;
}
@media (max-width: 767.98px) {
  #contact h2 {
    font-size: 30px;
  }
  #contact h3 {
    font-size: 1.2rem;
  }
  #contact > div {
    flex-direction: column;
    gap: 50px;
  }
  #contact form .email {
    flex-direction: column;
    gap: 0;
  }
}
@media (max-width: 564px) {
  #contact > div div p {
    font-size: 0.8em;
  }
}
/* End Contact Section */
/* Start footer */
footer {
  padding: 20px;
  color: #ffffff;
}
footer {
  display: flex;
  justify-content: center;
}
footer p {
  width: fit-content;
}
footer a {
  font-family: "Lugrasimo", cursive;
  background-image: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  color: var(--main-color);
}
footer img {
  position: relative;
  top: 6px;
}
footer i {
  margin-left: 20px;
  color: white;
}
footer i:hover {
  color: var(--main-color);
}
@media (max-width: 767px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer .links {
    margin-top: 25px;
  }
}
/* End footer */
/* Start About Section */
#about {
  background-color: var(--section-color);
  padding: var(--setion-padding);
  margin: 150px 0 var(--setion-padding);
  border-radius: 30px;
}
#about::before {
  content: "";
  width: 0.01px;
  height: 250px;
  background-color: var(--first-color);
  box-shadow: 0 0 250px 150px var(--first-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0%;
  opacity: 0.3;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#about div {
  padding-left: 30px;
}
#about h2 {
  color: var(--section-title-color);
  font-size: 50px;
  margin-bottom: 50px;
}
#about h2 span {
  width: fit-content;
  background-image: var(--third-gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#about p {
  line-height: 1.5;
  position: relative;
}
#about p:not(:last-child) {
  padding-bottom: 20px;
}
#about div p::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  position: absolute;
  top: 5px;
  left: -30px;
  border-radius: 50%;
}
#about div p::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 5px;
  left: -25px;
  border-radius: 50%;
}
@media (max-width: 577px) {
  #about {
    padding: var(--setion-padding) 20px;
  }
  #about::before {
    top: 70%;
    left: 50%;
  }
  #about div {
    padding-left: 20px;
  }
  #about h2 {
    font-size: 30px;
  }
  #about p {
    font-size: 1rem;
  }
  #about div p::before {
    left: -20px;
  }
  #about div p::after {
    left: -15px;
  }
}
/* End About Section */
/* Start why-provax Section */
#why-provax {
  padding: var(--setion-padding) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#why-provax .section-img {
  max-width: 500px;
  height: 100%;
  position: relative;
}
#why-provax .section-img::before {
  content: "";
  width: 1px;
  height: 250px;
  background-color: var(--third-color);
  box-shadow: 0 0 250px 150px var(--third-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.3;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#why-provax .section-img img {
  width: 100%;
  height: 100%;
}
#why-provax h2 {
  color: var(--section-title-color);
  margin-bottom: 50px;
  font-size: 50px;
}
#why-provax h2 span {
  width: fit-content;
  background-image: var(--forth-gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#why-provax p {
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  #why-provax {
    flex-direction: column-reverse;
    text-align: center;
  }
  #why-provax .container {
    margin-top: 75px;
  }
  #why-provax::after {
    content: "";
    height: 250px;
    width: 0px;
    background-color: var(--forth-color);
    box-shadow: 0 0 250px 150px var(--forth-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    position: absolute;
    bottom: -10%;
    left: 50%;
    opacity: 0.3;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
@media (max-width: 577px) {
  #why-provax h2 {
    font-size: 30px;
  }
  #why-provax p {
    font-size: 1rem;
  }
}
/*  End why-provax section */
/* Stat coming soon section */
.soon {
  position: relative;
}
.soon .container {
  position: relative;
  padding-top: 100px;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}
.soon::after {
  content: "";
  width: 0.1px;
  height: 450px;
  background-color: var(--third-color);
  box-shadow: 0 0 250px 150px var(--third-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  position: absolute;
  top: 0%;
  right: 5%;
  opacity: 0.3;
  z-index: -1;
}
.soon::before {
  content: "";
  width: 0.1px;
  height: 500px;
  background-color: var(--first-color);
  box-shadow: 0 0 250px 150px var(--first-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  position: absolute;
  bottom: 0%;
  left: 5%;
  opacity: 0.3;
  z-index: -1;
}
.soon .section-img {
  max-width: 500px;
  height: 500px;
  filter: drop-shadow(0px 0px 500px var(--main-color));
}
.soon .section-img img {
  width: 100%;
  height: 100%;
}
.soon h1 {
  color: var(--section-title-color);
}
.soon p {
  color: var(--text-color);
}
.soon .cta-button {
  display: block;
  margin-top: 20px;
  background-color: var(--main-color);
  background-image: var(--gradient-color);
  background-size: 150% 150%;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  animation: gradient 1s infinite ease;
}
@media (max-width: 577px) {
  .soon .section-img {
    max-height: 300px;
  }
}
/* End coming soon section */
